body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    background-color: cornsilk;
}

header {
    width: 100%;
    height: 4rem;
    align-items: center;
    border-bottom: blueviolet 1px solid;
    position: fixed;
    background-color: cornsilk;
    z-index: 1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
    padding-left: 10px;
    text-decoration: none;
}

nav a {
 padding: 1rem;
 font-size: 1.2rem;
}

.mission {
    background-image: url(images/brooke-lark-8beTH4VkhLI-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    justify-content: center;
    align-items: center;
}

 .mission-content {
    background-color:cornsilk;
    width: 100%;
    color: rgb(43, 46, 226);
}

.mission-content h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

.mission-content p {
    font-size: 1.5rem;
}




.flavors {
    height: 1000px;
    justify-content: center;
    padding-top: 40px;
    
}

figure {
    display: flex;
    width: 1500px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    padding: 20px;
}

.item img {
    width: 250px;
    height: 300px;
    border: blueviolet 1px solid;
    border-radius: 40%;
}

